{{ define "main" }}
<div class="wrapper">
	{{- partial "header.html" . -}}

	<div class="hero hero--size5">
	    <div class="container">
			<article class="article article--teritary">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="article__content">
							<h1>{{ title .Title }}</h1>

							<p>{{ .Params.Lead }}</p>

							<div class="article__actions">
								<a href="#connector-linker" class="btn btn--big btn--hover-alt play-video" >Watch Video</a>
							</div><!-- /.article__actions -->
						</div><!-- /.article__content -->
					</div><!-- /.col-md- offset-md- -->

					<div class="col-lg-6 hidden-tablet">
						<div class="article__image">
							<img src="/images/a2.png" title="Put your ERP system in control of your online business" alt="Put your ERP system in control of your online business">
						</div><!-- /.article__content -->
					</div><!-- /.col-md- offset-md- -->
				</div><!-- /.row -->

				<div class="mt-5">
					<div class="pt-5">
						{{- partial "connector-linker.html" . -}}
					</div>
				</div>


			</article><!-- /.article -->


	    </div><!-- /.container -->
	</div><!-- /.hero -->

	<section class="section section--video" id="video">
		<div class="container">
			<div class="widget-video-alt">
				<iframe src="https://www.youtube.com/embed/eszMk_JArl4"></iframe>

				<div class="widget__bg" style="background-image: url(/images/video.jpg); "></div><!-- /.widget__bg -->

				<a href="#" class="widget__btn">
					<i class="ico-play-alt"></i>
				</a>
			</div><!-- /.widget-video -->
		</div><!-- /.container -->
	</section><!-- /.section -->

    {{- partial "footer.html" . -}}
</div><!-- /.wrapper -->
{{ end }}