<div class="widget-primary" id="connectors">
    <nav class="widget__nav">
        <ul>
            <li>
                <a href="#" data-type="all" title="View all connectors">View All</a>
            </li>

            <li>
                <a href="#" data-type="source" title="Filter by ERP / ERP System connectors">ERP / Accounting</a>
            </li>

            <li>
                <a href="#" data-type="channel" title="Filter by sales channel connectors">Ecommerce</a>
            </li>

            <li>
                <a href="#" data-type="b2b" title="Filter by B2B Trade Store connectors">B2b</a>
            </li>

            <li>
                <a href="#" data-type="marketplace" title="Filter by Marketplace connectors">Marketplace</a>
            </li>

            <li>
                <a href="#" data-type="fulfillment" title="Filter by Fulfillment / Logistics connectors">Fulfillment / Logistics</a>
            </li>
        </ul>
    </nav><!-- /.widget__nav -->

    <div class="widget__body js-slider-filter">
        {{ range (where .Site.Pages "Params.type" "in" (slice "source" "channel" "fulfillment" "b2b" "marketplace")) }}
        <div class='widget__item {{ .Params.type }}' data-category='{{ .Params.type }}'>
            <div class="feature">
                <div class="feature__body">
                    <img src="{{ .Params.image }}" alt="{{ .Params.imageAlt }}" title="{{ .Params.imageTitle }}" width="{{ .Params.imageWidth }}" style="width: 150px;">

                    <h4>{{ title .Page.Title }}</h4>
                </div><!-- /.feature__body -->

                <div class="feature__aside">
                    <p>{{ .Params.Summary }}</p>

                    <a href="{{ .Page.RelPermalink }}" title="Learn about the {{ .Params.Title }} - Stock2Shop integration" class="link">Learn More <i class="ico-arrow-right"></i></a>
                </div><!-- /.feature__aside -->
            </div><!-- /.feature -->
        </div><!-- /.widget__item -->
        {{ end }}
    </div><!-- /.widget__body -->
</div><!-- /.widget-primary -->