<div class="article article--small">
    <div class="article__image">
        <img src="/images/a71.png" alt="Be first to know">
    </div><!-- /.article__image -->

    <div class="article__content">
        <h2>Be first to know</h2>

        <p>
            Keep up to date with ecommerce news, trends and articles. Brought to you by Stock2Shop.
        </p>

        <a href="/sign-up/" class="btn btn--medium">Sign up today</a>
    </div><!-- /.article__content -->

    <i class="ico-circle-big"></i>
</div><!-- /.article-small -->