<div class="article article--small article--small-alt">
    <div class="article__image">
        <img src="/images/a81.png" alt="Be first to know">
    </div><!-- /.article__image -->

    <div class="article__content">
        <h2>Contact Support</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Aenean eu leo
        </p>

        <a href="mailto:support@stock2shop.com" class="btn btn--medium">Email Us</a>
    </div><!-- /.article__content -->

    <i class="ico-circle-big"></i>
</div><!-- /.article -->