<footer class="footer">
	<div class="container">
		<div class="footer__body">
			<div class="row">
				<div class="col-md-4 col-lg-3">
					<h4>ERP / Accounting</h4>
					<nav class="footer__nav">
						<ul>
							<li><a href="/integrations/dolfin/">Dolfin</a></li>
							<li><a href="/integrations/flat-file/">Flat File</a></li>
							<li><a href="/integrations/iq-retail/">iQ Retail</a></li>
							<li><a href="/integrations/isync/">iSync</a></li>
							<li><a href="/integrations/microsoft-dynamics-nav/">Microsoft Dynamics NAV</a></li>
							<li><a href="/integrations/omni-accounts/">Omni Accounts</a></li>
							<li><a href="/integrations/sage-50cloud-pastel-partner/">Sage 50cloud Pastel Partner</a></li>
							<li><a href="/integrations/sage-50cloud-pastel-xpress/">Sage 50cloud Pastel Xpress</a></li>
							<li><a href="/integrations/sage-100-evolution/">Sage 100 Evolution</a></li>
							<li><a href="/integrations/sage-200-evolution/">Sage 200 Evolution</a></li>
							<li><a href="/integrations/sage-300cloud/">Sage 300cloud</a></li>
							<li><a href="/integrations/sage-x3/">Sage X3</a></li>
							<li><a href="/integrations/sage-business-cloud-accounting/">Sage Business Cloud Accounting</a></li>
							<li><a href="/integrations/sap-business-one/">SAP Business One</a></li>
							<li><a href="/integrations/syspro/">SYSPRO</a></li>
							<li><a href="/integrations/custom-database/">Custom Database</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-md-4 col-lg-3">
					<h4>Channels</h4>
					<nav class="footer__nav">
						<ul>
							<li><a href="/integrations/shopify/">Shopify</a></li>
							<li><a href="/integrations/woocommerce/">WooCommerce</a></li>
							<li><a href="/integrations/magento/">Magento</a></li>
							<li><a href="/integrations/b2b-trade-store/">B2B Trade Store</a></li>
						</ul>
					</nav>

					<h4>Logistics</h4>
					<nav class="footer__nav">
						<ul>
							<li><a href="/integrations/parcelninja/">Parcelninja</a></li>
						</ul>
					</nav><!-- /.footer__nav -->

					<h4>Marketplaces</h4>

					<nav class="footer__nav">
						<ul>
							<li>
								<a href="/integrations/takealot/">Takealot</a>
							</li>
						</ul>
					</nav><!-- /.footer__nav -->
				</div>
				<div class="col-md-4 col-lg-3">
					<h4>How it Works</h4>

					<nav class="footer__nav">
						<ul>
							<li><a href="/how-it-works/">Overview</a></li>
							<li><a href="/help/features/">Features</a></li>
						</ul>
					</nav><!-- /.footer__nav -->

					<h4>Company</h4>

					<nav class="footer__nav">
						<ul>
							<li><a href="/about-us/">About Us</a></li>
							<li><a href="/careers/">Careers</a></li>
							<li><a href="/contact-us/">Contact Us</a></li>
						</ul>
					</nav><!-- /.footer__nav -->

					<h4>Resources</h4>

					<nav class="footer__nav">
						<ul>
							<li><a href="/articles/" title="Supply Chain Articles">Articles</a></li>
							<li><a href="/case-studies/" title="Client Success Stories">Success Stories</a></li>
							<li><a href="/workflows/" title="Client Success Stories">Examples By Sector</a></li>
							<li><a href="https://docs.stock2shop.com">Developer Docs</a></li>
							<li><a href="/help/">Help and Support</a></li>
						</ul>
					</nav><!-- /.footer__nav -->

					<h4>Pricing</h4>

					<nav class="footer__nav">
						<ul>
							<li>
								<a href="/pricing/" title="Price">Price Builder</a>
							</li>
						</ul>
					</nav><!-- /.footer__nav -->
				</div>

			</div><!-- /.row -->
		</div><!-- /.footer__body -->

		<div class="footer__aside">
			<a href="/" class="logo footer__logo"></a>

			<p>
				@ Copyright {{ dateFormat "2006" now }} Stock2Shop.<br> All Rights Reserved.
			</p>

			<p><a href="/privacy-policy/">Privacy Policy</a></p>
		</div><!-- /.footer__aside -->
	</div><!-- /.container -->
</footer><!-- /.footer -->

{{- partial "cta-popup-form.html" . -}}