<footer class="footer">
	<div class="container">
		<div class="footer__body">
			<div class="row">
				<div class="col-md-4 col-lg-3">
					<h4>ERP / Accounting</h4>
					<nav class="footer__nav">
						<ul>
							<li><a href="/integrations/dolfin/" title="Integrate Dolfin with various ecommerce B2B and B2C sales channels">Dolfin</a></li>
							<li><a href="/integrations/flat-file/" title="Integrate Flat File with various ecommerce B2B and B2C sales channels">Flat File</a></li>
							<li><a href="/integrations/iq-retail/" title="Integrate IQ Retail with various ecommerce B2B and B2C sales channels">IQ Retail</a></li>
							<li><a href="/integrations/isync/" title="Integrate iSync with various ecommerce B2B and B2C sales channels">iSync</a></li>
							<li><a href="/integrations/microsoft-dynamics-nav/" title="Integrate Microsoft Dynamics NAV with various ecommerce B2B and B2C sales channels">Microsoft Dynamics NAV</a></li>
							<li><a href="/integrations/omni-accounts/" title="Integrate Omni Accounts with various ecommerce B2B and B2C sales channels">Omni Accounts</a></li>
							<li><a href="/integrations/sage-50cloud-pastel-partner/" title="Integrate Sage 50cloud Pastel Partner with various ecommerce B2B and B2C sales channels">Sage 50cloud Pastel Partner</a></li>
							<li><a href="/integrations/sage-50cloud-pastel-xpress/" title="Integrate Sage 50cloud Pastel Xpress with various ecommerce B2B and B2C sales channels">Sage 50cloud Pastel Xpress</a></li>
							<li><a href="/integrations/sage-100-evolution/" title="Integrate Sage 100 Evolution with various ecommerce B2B and B2C sales channels">Sage 100 Evolution</a></li>
							<li><a href="/integrations/sage-200-evolution/" title="Integrate Sage 200 Evolution with various ecommerce B2B and B2C sales channels">Sage 200 Evolution</a></li>
							<li><a href="/integrations/sage-300cloud/" title="Integrate Sage 300cloud with various ecommerce B2B and B2C sales channels">Sage 300cloud</a></li>
							<li><a href="/integrations/sage-x3/" title="Integrate Sage X3 with various ecommerce B2B and B2C sales channels">Sage X3</a></li>
							<li><a href="/integrations/sage-business-cloud-accounting/" title="Integrate Sage Business Cloud Accounting with various ecommerce B2B and B2C sales channels">Sage Business Cloud Accounting</a></li>
							<li><a href="/integrations/sap-business-one/" title="Integrate SAP Business One with various ecommerce B2B and B2C sales channels">SAP Business One</a></li>
							<li><a href="/integrations/syspro/" title="Integrate SYSPRO with various ecommerce B2B and B2C sales channels">SYSPRO</a></li>
							<li><a href="/integrations/custom-database/" title="Integrate Custom Database with various ecommerce B2B and B2C sales channels">Custom Database</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-md-4 col-lg-3">
					<h4>Channels</h4>
					<nav class="footer__nav">
						<ul>
							<li><a href="/integrations/shopify/" title="Integrate Shopify with supported ERP / Accounting Systems">Shopify</a></li>
							<li><a href="/integrations/woocommerce/" title="Integrate WooCommerce with supported ERP / Accounting Systems">WooCommerce</a></li>
							<li><a href="/integrations/magento/" title="Integrate Magento with supported ERP / Accounting Systems">Magento</a></li>
							<li><a href="/integrations/b2b-trade-store/" title="Integrate Stock2Shop's B2B Trade Store with supported ERP / Accounting Systems">B2B Trade Store</a></li>
						</ul>
					</nav>

					<h4>Logistics</h4>
					<nav class="footer__nav">
						<ul>
							<li><a href="/integrations/parcelninja/" title="Integrate Parcelninja with supported B2B and B2C sales channels">Parcelninja</a></li>
						</ul>
					</nav><!-- /.footer__nav -->

					<h4>Marketplaces</h4>

					<nav class="footer__nav">
						<ul>
							<li>
								<a href="/integrations/takealot/" title="Integrate Takealot with supported ERP / Accounting Systems">Takealot</a>
							</li>
						</ul>
					</nav><!-- /.footer__nav -->
				</div>
				<div class="col-md-4 col-lg-3">
					<h4>How it Works</h4>

					<nav class="footer__nav">
						<ul>
							<li><a href="/how-it-works/" title="">Overview</a></li>
							<li><a href="/help/features/" title="">Features</a></li>
						</ul>
					</nav><!-- /.footer__nav -->

					<h4>Company</h4>

					<nav class="footer__nav">
						<ul>
							<li><a href="/about-us/" title="">About Us</a></li>
							<li><a href="/careers/" title="">Careers</a></li>
							<li><a href="/contact-us/" title="">Contact Us</a></li>
						</ul>
					</nav><!-- /.footer__nav -->

					<h4>Resources</h4>

					<nav class="footer__nav">
						<ul>
							<li><a href="/articles/" title="Supply Chain Articles">Articles</a></li>
							<li><a href="/case-studies/" title="Client Success Stories">Success Stories</a></li>
							<li><a href="/workflows/" title="Client Success Stories">Examples By Sector</a></li>
							<li><a href="https://docs.stock2shop.com" title="">Developer Docs</a></li>
							<li><a href="/help/" title="">Help and Support</a></li>
						</ul>
					</nav><!-- /.footer__nav -->

					<h4>Pricing</h4>

					<nav class="footer__nav">
						<ul>
							<li>
								<a href="/pricing/" title="SaaS price builder">Price Builder</a>
							</li>
						</ul>
					</nav><!-- /.footer__nav -->
				</div>

			</div><!-- /.row -->
		</div><!-- /.footer__body -->

		<div class="footer__aside">
			<a href="/" class="logo footer__logo"></a>

			<p>
				@ Copyright {{ dateFormat "2006" now }} Stock2Shop.<br> All Rights Reserved.
			</p>

			<p><a href="/privacy-policy/" title="Stock2Shop Privacy Policy">Privacy Policy</a></p>
		</div><!-- /.footer__aside -->
	</div><!-- /.container -->
</footer><!-- /.footer -->

{{- partial "cta-popup-form.html" . -}}