<footer class="footer">
	<div class="container">
		<div class="footer__body">
			<div class="row">
				<div class="col-md-8 col-lg-4">
					<h4>Sources</h4>
					
					<div class="footer__nav footer__nav--primary">
						<ul>
							<li><a href="#">Dolfin</a></li>
							<li><a href="#">Efinity</a></li>
							<li><a href="#">Flat File</a></li>
							<li><a href="#">iQ Retail</a></li>
							<li><a href="#">iSync</a></li>
							<li><a href="#">Microsoft Dynamics NAV</a></li>
							<li><a href="#">Omni Accounts</a></li>
							<li><a href="#">Sage 50cloud Pastel Partner</a></li>
							<li><a href="#">Sage 50cloud Pastel Xpress</a></li>
						</ul>
						
						<ul>
							<li><a href="#">Sage 100 Evolution</a></li>
							<li><a href="#">Sage 200 Evolution</a></li>
							<li><a href="#">Sage 300cloud</a></li>
							<li><a href="#">Sage X3</a></li>
							<li><a href="#">Sage Business Cloud Financials</a></li>
							<li><a href="#">Sage Business Cloud Accounting</a></li>
							<li><a href="#">SAP Business One</a></li>
							<li><a href="#">Syspro</a></li>
							<li><a href="#">Custom Database</a></li>
						</ul>
					</div><!-- /.footer__nav -->
				</div><!-- /.col-md- offset-md- -->

				<div class="col-md-4 col-lg-2">
					<h4>Channels</h4>

					<nav class="footer__nav">
						<ul>
							<li><a href="#">Shopify</a></li>
							<li><a href="#">WooCommerce</a></li>
							<li><a href="#">Magento</a></li>
							<li><a href="#">B2B Trade Store</a></li>
						</ul>
					</nav><!-- /.footer__nav -->
				</div><!-- /.col-md- offset-md- -->

				<div class="col-md-4 col-lg-6">
					<h4>Fulfillment</h4>

					<nav class="footer__nav">
						<ul>
							<li><a href="#">Parcelninja</a></li>
							<li><a href="#">On the Dot</a></li>
						</ul>
					</nav><!-- /.footer__nav -->
				</div><!-- /.col-md- offset-md- -->

				<div class="col-md-4 col-lg-2">
					<h4>Marketplace</h4>

					<nav class="footer__nav">
						<ul>
							<li>
								<a href="#">Takealot</a>
							</li>
						</ul>
					</nav><!-- /.footer__nav -->
				</div><!-- /.col-md- offset-md- -->

				<div class="col-md-4 col-lg-2">
					<h4>How it Works</h4>

					<nav class="footer__nav">
						<ul>
							<li><a href="/how-it-works/">Overview</a></li>
							<li><a href="/help/features/">Features</a></li>
						</ul>
					</nav><!-- /.footer__nav -->
				</div><!-- /.col-md- offset-md- -->

				<div class="col-md-4 col-lg-7">
					<h4>Company</h4>

					<nav class="footer__nav">
						<ul>
							<li><a href="/about-us/">About Us</a></li>
							<li><a href="/careers/">Careers</a></li>
							<li><a href="/contact-us/">Contact Us</a></li>
						</ul>
					</nav><!-- /.footer__nav -->
				</div><!-- /.col-md- offset-md- -->

				<div class="col-md-4 col-lg-2">
					<h4>Resources</h4>

					<nav class="footer__nav">
						<ul>
							<li><a href="/articles/" title="Supply Chain Articles">Articles</a></li>
							<li><a href="/case-studies/" title="Client Success Stories">Success Stories</a></li>
						</ul>
					</nav><!-- /.footer__nav -->
				</div><!-- /.col-md- offset-md- -->

				<div class="col-md-4 col-lg-2">
					<h4>Support</h4>

					<nav class="footer__nav">
						<ul>
							<li><a href="/help/">Help Centre</a></li>
						</ul>
					</nav><!-- /.footer__nav -->
				</div><!-- /.col-md- offset-md- -->

				<div class="col-md-4 col-lg-2">
					<h4>Pricing</h4>

					<nav class="footer__nav">
						<ul>
							<li>
								<a href="/pricing/" title="Price">Price Builder</a>
							</li>
						</ul>
					</nav><!-- /.footer__nav -->
				</div><!-- /.col-md- offset-md- -->
			</div><!-- /.row -->
		</div><!-- /.footer__body -->

		<div class="footer__aside">
			<a href="/" class="logo footer__logo"></a>

			<p>
				@ Copyright 2021 Stock2Shop.<br> All Rights Reserved.
			</p>

			<p><a href="#">Privacy Policy</a> <span class="separator">|</span> <a href="#">Terms & Conditions</a></p>
		</div><!-- /.footer__aside -->
	</div><!-- /.container -->
</footer><!-- /.footer -->