<header class="header">
	<div class="header__bar">
		<div class="container">
			<ul class="header__links">
				<li>
					<a href="/help/" title="Stock2Shop Support">Help Centre</a>
				</li>

				<li>
					<a href="https://console.stock2shop.com" title="Stock2Shop Console Login">Login</a>
				</li>
			</ul><!-- /.header__links -->
		</div><!-- /.container -->
	</div><!-- /.header__bar -->

	<div class="header__body">
		<div class="container">
			<a href="/" title="Stock2Shop Home" class="logo"></a>

			<a href="#" class="btn-burger">
				<span></span>
				
				<span></span>
				
				<span></span>
			</a>

			<div class="header__aside">
				<nav class="navbar">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a href="/how-it-works/" title="How ERP Integration Works" class="nav-link">How it Works</a>
						</li><!-- /.nav-item -->

						<li class="nav-item">
							<a href="/integrations/" title="Accounting B2B / Eccomerce Integrations" class="nav-link">Integrations <i class="ico-angle-down"></i></a>

							<div class="dropdown">
								<a href="/integrations/" class="dropdown__link"><i class="ico-angle-left"></i> Integrations</a>

								<div class="dropdown__body">
									<div class="dropdown__cols">
										<div class="dropdown__col dropdown__col--size1">
											<h4>ERP/Accounting system</h4>

											<div class="dropdown__nav dropdown__nav--primary">
												<a href="#" class="dropdown__link"><i class="ico-angle-left"></i> ERP/Accounting system</a>

												<ul>
													<li><a href="/integrations/dolfin/">Dolfin</a></li>
													<li><a href="/integrations/flat-file/">Flat File</a></li>
													<li><a href="/integrations/iq-retail/">iQ Retail</a></li>
													<li><a href="/integrations/isync/">iSync</a></li>
													<li><a href="/integrations/microsoft-dynamics-nav/">Microsoft Dynamics NAV</a></li>
													<li><a href="/integrations/omni-accounts/">Omni Accounts</a></li>
													<li><a href="/integrations/sage-50cloud-pastel-partner/">Sage 50cloud Pastel Partner</a></li>
													<li><a href="/integrations/sage-50cloud-pastel-xpress/">Sage 50cloud Pastel Xpress</a></li>
												</ul>

												<ul>
													<li><a href="/integrations/sage-100-evolution/">Sage 100 Evolution</a></li>
													<li><a href="/integrations/sage-200-evolution/">Sage 200 Evolution</a></li>
													<li><a href="/integrations/sage-300cloud/">Sage 300cloud</a></li>
													<li><a href="/integrations/sage-x3/">Sage X3</a></li>
													<li><a href="/integrations/sage-business-cloud-accounting/">Sage Business Cloud Accounting</a></li>
													<li><a href="/integrations/sap-business-one/">SAP Business One</a></li>
													<li><a href="/integrations/syspro/">Syspro</a></li>
													<li><a href="/integrations/custom-database/">Custom Database</a></li>
												</ul>
											</div><!-- /.dropdown__nav -->
										</div><!-- /.dropdown__col -->

										<div class="dropdown__col dropdown__col--size2">

											<div class="dropdown__col dropdown__col--alt">
												<h4>E-commerce</h4>

												<div class="dropdown__nav">
													<a href="#" class="dropdown__link"><i class="ico-angle-left"></i> E-commerce</a>

													<ul>
														<li><a href="/integrations/shopify/">Shopify</a></li>
														<li><a href="/integrations/woocommerce/">WooCommerce</a></li>
														<li><a href="/integrations/magento/">Magento</a></li>
													</ul>
												</div><!-- /.dropdown__nav -->
											</div>

											<div class="dropdown__col dropdown__col--alt">
												<h4>B2B Store</h4>

												<div class="dropdown__nav">
													<a href="#" class="dropdown__link"><i class="ico-angle-left"></i> E-commerce</a>

													<ul>
														<li><a href="/integrations/b2b-trade-store/">B2B Ordering Platform</a></li>
													</ul>
												</div><!-- /.dropdown__nav -->
											</div>

										</div><!-- /.dropdown__col -->

										<div class="dropdown__col dropdown__col--size3">
											<div class="dropdown__col dropdown__col--alt">
												<h4>Fulfillment</h4>

												<div class="dropdown__nav">
													<a href="#" class="dropdown__link"><i class="ico-angle-left"></i> Fulfillment</a>

													<ul>
														<li><a href="/integrations/parcelninja/">Parcelninja</a></li>
														<li><a href="/integrations/on-the-dot/">On the Dot</a></li>
													</ul>
												</div><!-- /.dropdown__nav -->
											</div><!-- /.dropdown__col -->

											<div class="dropdown__col dropdown__col--alt">
												<h4>Marketplace</h4>

												<div class="dropdown__nav">
													<a href="#" class="dropdown__link"><i class="ico-angle-left"></i> Marketplace</a>

													<ul>
														<li><a href="/integrations/takealot/">Takealot</a></li>
													</ul>
												</div><!-- /.dropdown__nav -->
											</div><!-- /.dropdown__col -->
										</div><!-- /.dropdown__col -->
									</div><!-- /.dropdown__cols -->
								</div><!-- /.dropdown__body -->

								<div class="dropdown__aside">
									<div class="dropdown__col dropdown__col--alt">
										<h4>Case Studies</h4>

										<div class="dropdown__nav">
											<a href="/case-studies" title="ecommerce and b2b cart case studies" class="dropdown__link"><i class="ico-angle-left"></i> Case Studies</a>

											<ul>
												<li><a href="/case-studies/omnico">Omnico</a></li>
												<li><a href="/case-studies/al-cd-ashley">Al & Cd Ashley</a></li>
												<li><a href="/case-studies/falke">Falke</a></li>
												<li><a href="/case-studies/calasca">Calasca</a></li>
											</ul>
										</div><!-- /.dropdown__nav -->
									</div><!-- /.dropdown__col -->

									<div class="dropdown__col dropdown__col--alt">
										<h4>By Sector</h4>

										<div class="dropdown__nav">
											<a href="/articles" title="News and information for ecommerce integrations" class="dropdown__link"><i class="ico-angle-left"></i> Latest Articles</a>

											<ul>
												<li><a href="/workflows/wholesale">Wholesale / Distribution</a></li>
												<li><a href="/workflows/retail-and-wholesale">Retail & Wholesale</a></li>
												<li><a href="/workflows/retail">Retail Only</a></li>
												<li><a href="/workflows/dropshipping">Dropshipping</a></li>
											</ul>
										</div><!-- /.dropdown__nav -->
									</div><!-- /.dropdown__col -->
								</div><!-- /.dropdown__aside -->
							</div><!-- /.dropdown -->
						</li><!-- /.nav-item -->
						
						<li class="nav-item">
							<a href="/integrations/" title="Accounting B2B / Eccomerce Integrations" class="nav-link">Resources <i class="ico-angle-down"></i></a>

							<div class="dropdown">
								<a href="/integrations/" class="dropdown__link"><i class="ico-angle-left"></i> Resources</a>

								<div class="dropdown__body">
									<div class="dropdown__cols">

										<div class="dropdown__col dropdown__col--size1">
											<h4>Examples by Sector</h4>
											<div class="dropdown__nav dropdown__nav--primary">
												<a href="#" class="dropdown__link"><i class="ico-angle-left"></i> Examples by Sector</a>
												<ul>
													<li><a href="/workflows/wholesale/">Wholesale / Distribution</a></li>
													<li><a href="/workflows/retail-and-wholesale/">Retail & Wholesale</a></li>
												</ul>
												<ul>
													<li><a href="/workflows/retail/">Retail Only</a></li>
													<li><a href="/workflows/dropshipping/">Dropshipping</a></li>
												</ul>
											</div><!-- /.dropdown__nav -->
										</div><!-- /.dropdown__col -->

										<div class="dropdown__col dropdown__col--size2">
											<h4>Company</h4>

											<div class="dropdown__nav ">
												<a href="#" class="dropdown__link"><i class="ico-angle-left"></i> Company</a>
												<ul>
													<li><a href="/about-us/">About Us</a></li>
													<li><a href="/contact-us/">Contact Us</a></li>
													<li><a href="/careers/">Careers</a></li>
												</ul>
											</div><!-- /.dropdown__nav -->
										</div><!-- /.dropdown__col -->

										<div class="dropdown__col dropdown__col--size3">
											<h4>Help</h4>

											<div class="dropdown__nav ">
												<a href="#" class="dropdown__link"><i class="ico-angle-left"></i> Help</a>
												<ul>
													<li><a href="/help/guides/">Guides</a></li>
													<li><a href="/help/setup/">Setup & Configuration</a></li>
													<li><a href="/help/troubleshooting/">Troubleshooting</a></li>
												</ul>
											</div><!-- /.dropdown__nav -->
										</div><!-- /.dropdown__col -->


									</div><!-- /.dropdown__cols -->
								</div><!-- /.dropdown__body -->

								<div class="dropdown__aside">
									<div class="dropdown__col dropdown__col--alt">
										<h4>Content</h4>

										<div class="dropdown__nav">
											<a href="/case-studies/" title="ecommerce and b2b cart case studies" class="dropdown__link"><i class="ico-angle-left"></i> Content</a>

											<ul>
												<li><a href="/articles/">Articles</a></li>
												<li><a href="/case-studies/">Success Stories</a></li>
												<li><a href="/help/features/">Features</a></li>
											</ul>
										</div><!-- /.dropdown__nav -->
									</div><!-- /.dropdown__col -->


								</div><!-- /.dropdown__aside -->
							</div><!-- /.dropdown -->
						</li><!-- /.nav-item -->

						<li class="nav-item">
							<a href="/b2b-shopping-cart/" title="B2B eCommerce Cart" class="nav-link">B2B Trade Store</a>
						</li><!-- /.nav-item -->

						<li class="nav-item">
							<a href="/pricing/" title="SaaS Price Builder" class="nav-link">Pricing</a>
						</li><!-- /.nav-item -->

						<li class="nav-item visible-tablet">
							<a href="/help/" class="nav-link">Help Center</a>
						</li><!-- /.nav-item -->

						<li class="nav-item visible-tablet">
							<a href="/how-it-works/" class="nav-link">Watch Video</a>
						</li><!-- /.nav-item -->
					</ul><!-- /.navbar-nav -->
				</nav><!-- /.navbar -->

				<ul class="header__actions">
					<li>
						<a href="https://console.stock2shop.com" class="btn btn-outline">Login</a>
					</li>

					<li>
						<a href="/contact-us/" class="btn btn--hover-alt cta-popup" data-target="#popup-form">Schedule A Demo</a>
					</li>
				</ul><!-- /.header__actions -->

				<a href="#" class="header__link">+27 (0)21 813 5866</a>
			</div><!-- /.header__aside -->
		</div><!-- /.container -->
	</div><!-- /.header__body -->
</header><!-- /.header -->