

{{ if .Site.IsServer }}
    {{ $js1 := resources.Get "js/jquery-3.6.0.js"}}
    {{ $js2 := resources.Get "scss/bootstrap-5.0.0/js/bootstrap.js" }}
    {{ $js3 := resources.Get "js/slick.js"  }}
    {{ $js4 := resources.Get "js/functions.js" }}
    <script src="{{ $js1.RelPermalink }}"></script>
    <script src="{{ $js2.RelPermalink }}"></script>
    <script src="{{ $js3.RelPermalink }}"></script>
    <script src="{{ $js4.RelPermalink }}"></script>
{{ else }}
    {{ $js1 := resources.Get "js/jquery-3.6.0.min.js"}}
    {{ $js2 := resources.Get "scss/bootstrap-5.0.0/js/bootstrap.min.js" }}
    {{ $js3 := resources.Get "js/slick.js" | resources.Minify }}
    {{ $js4 := resources.Get "js/functions.js" | resources.Minify }}
    {{ $js := slice $js1 $js2 $js3 $js4 | resources.Concat "js/bundle.js" }}
    <script src="{{ $js.Permalink }}"></script>
{{ end }}
