{{ $curURL := index (last 1 (split (delimit (split .Permalink "/") "," "") ",")) 0 }}
<div class="accordions">
    <div class='accordion {{ if in .Type "setup" }}is-active{{ end }}'>
        <div class="accordion__head">
            <h4>Setup & Config</h4>
        </div><!-- /.accordion__head -->

        <div class="accordion__body" {{ if in .Type "setup" }}style="display:block;"{{ end }}>
            <ul>
                {{ $q1 := where .Site.RegularPages ".Type" "setup" }}
                {{ range $q1.ByParam "Title" }}
                {{ $url := index (last 1 (split (delimit (split .Page.Permalink "/") "," "") ",")) 0 }}
                <li>
                    <a href="{{ .Permalink }}"
                       title="{{ .Params.seoTitle }}"
                       class="{{ if eq $curURL $url }}is-active{{ end }}">{{ .Title }} <i class="ico-arrow-right-dark"></i> <i class="ico-arrow-right"></i></a>
                </li>
                {{ end }}
            </ul>
        </div><!-- /.accordion__body -->
    </div><!-- /.accordion -->

    <div class='accordion {{ if in .Params.tags "feature" }}is-active{{ end }}'>
        <div class="accordion__head">
            <h4>Features</h4>
        </div><!-- /.accordion__head -->

        <div class="accordion__body" {{ if in .Params.tags "feature" }}style="display:block;"{{ end }}>
            <ul>
                {{ $q1 := where .Site.Pages "Params.tags" "intersect" (slice "feature") }}
                {{ $q2 := where .Site.Pages "Params.title" "!=" "Features" }}
                {{ range $q1 | intersect $q2 }}
                {{ $url := index (last 1 (split (delimit (split .Page.Permalink "/") "," "") ",")) 0 }}
                <li>
                    <a href="{{ .Permalink }}"
                       title="{{ .Params.seoTitle }}"
                       class="{{ if eq $curURL $url }}is-active{{ end }}">{{ .Title }} <i class="ico-arrow-right-dark"></i> <i class="ico-arrow-right"></i></a>
                </li>
                {{ end }}
            </ul>
        </div><!-- /.accordion__body -->
    </div><!-- /.accordion -->

    <div class='accordion {{ if in .Type "guides" }}is-active{{ end }}'>
        <div class="accordion__head">
            <h4>Guides</h4>
        </div><!-- /.accordion__head -->

        <div class="accordion__body" {{ if in .Type "guides" }}style="display:block;"{{ end }}>

            <div class='accordion {{ if in .Params.tags "console" }}is-active{{ end }}'>
                <div class="accordion__head">
                    <h4>Using The Console</h4>
                </div><!-- /.accordion__head -->

                <div class="accordion__body" {{ if in .Params.tags "console" }}style="display:block;"{{ end }}>
                <ul>
                    {{ range where .Site.Pages "Params.tags" "intersect" (slice "console") }}
                    {{ $url := index (last 1 (split (delimit (split .Page.Permalink "/") "," "") ",")) 0 }}
                    <li>
                        <a href="{{ .Permalink }}"
                           title="{{ .Params.seoTitle }}"
                           class="{{ if eq $curURL $url }}is-active{{ end }}">{{ .Title }} <i class="ico-arrow-right-dark"></i> <i class="ico-arrow-right"></i></a>
                    </li>
                    {{ end }}
                </ul>
            </div><!-- /.accordion__body -->
        </div><!-- /.accordion -->

                <div class='accordion {{ if in .Params.tags "console" }}is-active{{ end }}'>
                    <div class="accordion__head">
                        <h4>Key Concepts</h4>
                    </div><!-- /.accordion__head -->

                    <div class="accordion__body" {{ if in .Params.tags "key-concept" }}style="display:block;"{{ end }}>
                    <ul>
                        {{ range where .Site.Pages "Params.tags" "intersect" (slice "key-concept") }}
                        {{ $url := index (last 1 (split (delimit (split .Page.Permalink "/") "," "") ",")) 0 }}
                        <li>
                            <a href="{{ .Permalink }}"
                               title="{{ .Params.seoTitle }}"
                               class="{{ if eq $curURL $url }}is-active{{ end }}">{{ .Title }} <i class="ico-arrow-right-dark"></i> <i class="ico-arrow-right"></i></a>
                        </li>
                        {{ end }}
                    </ul>
                </div><!-- /.accordion__body -->
            </div><!-- /.accordion -->

            <div class='accordion {{ if in .Params.tags "console" }}is-active{{ end }}'>
                <div class="accordion__head">
                    <h4>B2B Trade Store</h4>
                </div><!-- /.accordion__head -->

                <div class="accordion__body" {{ if in .Params.tags "b2b" }}style="display:block;"{{ end }}>
                <ul>
                    {{ range where .Site.Pages "Params.tags" "intersect" (slice "b2b") }}
                    {{ $url := index (last 1 (split (delimit (split .Page.Permalink "/") "," "") ",")) 0 }}
                    <li>
                        <a href="{{ .Permalink }}"
                           title="{{ .Params.seoTitle }}"
                           class="{{ if eq $curURL $url }}is-active{{ end }}">{{ .Title }} <i class="ico-arrow-right-dark"></i> <i class="ico-arrow-right"></i></a>
                    </li>
                    {{ end }}
                </ul>
            </div><!-- /.accordion__body -->
            </div><!-- /.accordion -->
        </div><!-- /.accordion__body -->
    </div><!-- /.accordion -->

    <div class='accordion {{ if in .Params.type "troubleshooting" }}is-active{{ end }}'>
        <div class="accordion__head">
            <h4>Troubleshooting</h4>
        </div><!-- /.accordion__head -->

        <div class="accordion__body" {{ if in .Params.type "troubleshooting" }}style="display:block;"{{ end }}>
        <ul>
            {{ $q1 := where .Site.Pages ".Type" "troubleshooting" }}
            {{ $q2 := where .Site.Pages "Params.process" "!=" "" }}
            {{ range $q1 | intersect $q2 }}
            {{ $url := index (last 1 (split (delimit (split .Page.Permalink "/") "," "") ",")) 0 }}
            <li>
                <a href="{{ .Permalink }}"
                   title="{{ .Params.seoTitle }}"
                   class="{{ if eq $curURL $url }}is-active{{ end }}">{{ .Title }} <i class="ico-arrow-right-dark"></i> <i class="ico-arrow-right"></i></a>
            </li>
            {{ end }}
            {{ with .Site.GetPage "/help/troubleshooting/general.md" }}
            {{ $url := index (last 1 (split (delimit (split .Permalink "/") "," "") ",")) 0 }}
            <li>
                <a href="{{ .Permalink }}"
                   title="{{ .Params.seoTitle }}"
                   class="{{ if eq $curURL $url }}is-active{{ end }}">{{.Title}}<i class="ico-arrow-right-dark"></i> <i class="ico-arrow-right"></i></a>
            </li>
            {{ end }}

        </ul>
        </div><!-- /.accordion__body -->
    </div><!-- /.accordion -->


</div><!-- /.accordions -->