<section class="section section--gray section--services-alt">
    <div class="container">
        <header class="section__head">
            <h2>See supporting information</h2>
        </header><!-- /.section__head -->

        <div class="services">
            <div class="row">
                <div class="col-md-6">
                    <div class="service service--primary">
                        <i class="ico-feature service__ico"></i>

                        <h2>Features</h2>

                        <p>
                            Stock2Shop is an efficient way to integrate your ERP or accounting system with your B2B and B2C sales channels. Take a look at all the features that our integrations can provide.
                        </p>

                        <a href="/help/features/{{.Params.Source}}{{.Params.Channel}}{{.Params.Marketplace}}{{.Params.Fulfillment}}/"
                           title="View features for {{.Params.SeoTitle}}"
                           class="btn btn--medium-alt">View Features</a>
                    </div><!-- /.service -->
                </div><!-- /.col-md- offset-md- -->

                <div class="col-md-6">
                    <div class="service service--primary">
                        <i class="ico-tech service__ico"></i>

                        <h2>Technical Documentation</h2>

                        <p>
                            Find all the concepts and technical information you need to start integrating the Stock2Shop system. Our highly skilled team is available for email support, and we’ll happily answer any questions you may have.
                        </p>

                        <a href="/help/setup/{{.Params.Source}}{{.Params.Channel}}{{.Params.Marketplace}}{{.Params.Fulfillment}}/"
                           title="View setup instructions for {{.Params.SeoTitle}}"
                           class="btn btn--medium-alt">View Technical Docs</a>
                    </div><!-- /.service -->
                </div><!-- /.col-md- offset-md- -->
            </div><!-- /.row -->
        </div><!-- /.services -->   
    </div><!-- /.container -->
</section><!-- /.section -->