{{ define "main" }}

<div class="wrapper">

    {{- partial "header.html" . -}}

    <div class="hero hero--size5">
        <div class="container">
            <article class="article">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="article__content article__content--primary">
                            <h1>{{ title .Title }}</h1>
                            <p>
                                {{ .Params.Lead }}
                            </p>
                        </div><!-- /.article__content -->
                    </div><!-- /.col-md- offset-md- -->
                </div><!-- /.row -->
            </article><!-- /.article -->
        </div><!-- /.container -->
    </div><!-- /.hero -->

    <section class="section section--secondary hidden-mobile">
        <div class="container">
            <div class="section__standard text-center">
                <div class="row">
                    <div class="col-sm-12 p-5">
                        <img src="{{ .Params.image }}" width="{{ .Params.imageWidth }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 offset-2">
                        <p class="lead">{{ .Params.summary }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ range $i,$p := where (where .Site.RegularPages "Type" "source-content") ".Params.source" .Params.source }}
    <section class="section {{ if not (modBool $i 2) }}section--gray{{ end }} section--size1">
        <div class="container">
            <header class="section__head">
                <h2>{{ .Params.title }}</h2>

                <p>{{ .Params.subtitle }}</p>
            </header><!-- /.section__head -->

            {{ if .Params.imageDestop }}
            <div class="section__image-alt">
                <img src="{{ .Params.imageDestop }}" alt="{{ .Params.title }}" width="{{ .Params.imageDestopWidth }}" class="hidden-mobile">

                <img src="{{ .Params.imageMobile }}" alt="{{ .Params.title }}" class="visible-mobile">
            </div><!-- /.section__image -->
            {{ end }}

            <div class="section__actions visible-mobile">
                <a href="{{ .Params.buttonHrefMobile }}" class="btn btn--medium">{{ .Params.buttonTextMobile }}</a>
            </div><!-- /.section__actions -->
        </div><!-- /.container -->
    </section><!-- /.section -->
    {{ end }}

    <section class="section section--services">
        <div class="container">
            <header class="section__head">
                <h2>See full set of integrations</h2>
                
                <p>In order to get the most out of your {{ .Title }}, view a full list of features and configuration settings here.</p>
            </header><!-- /.section__head -->

            <div class="services">
                <div class="row">
                    <div class="col-md-6">
                        <div class="service">
                            <i class="ico-card service__ico"></i>

                            <h4>eCommerce integrations for {{ .Title }}:</h4>

                            <p>Shopping carts which integrate with {{ .Title}}</p>

                            <ul>
                                {{ $q1 := where .Site.Pages "Type" "source-channel" }}
                                {{ $q2 := where .Site.Pages "Params.source" .Params.source }}
                                {{ range $q1 | intersect $q2 }}
                                <li>
                                    <a href="{{ .Permalink }}" class="link" title="{{.Params.seoTitle}}">{{ .Title }} <i class="ico-arrow-right"></i></a>
                                </li>
                                {{ end }}
                            </ul>
                        </div><!-- /.service -->
                    </div><!-- /.col-md- offset-md- -->

                    <div class="col-md-6">
                        <div class="service">
                            <i class="ico-mobile service__ico"></i>

                            <h4>B2B ordering for {{ .Params.Title }}:</h4>

                            <p>Learn about our Trade Shopping Cart</p>

                            <ul>
                                {{ $q1 := where .Site.Pages "Type" "source-b2b" }}
                                {{ $q2 := where .Site.Pages "Params.source" .Params.source }}
                                {{ range $q1 | intersect $q2 }}
                                <li>
                                    <a href="{{ .Permalink }}" class="link" title="{{.Params.seoTitle}}">{{ .Title }} <i class="ico-arrow-right"></i></a>
                                </li>
                                {{ end }}
                            </ul>
                        </div><!-- /.service -->
                    </div><!-- /.col-md- offset-md- -->

                    <div class="col-md-6">
                        <div class="service">
                            <i class="ico-settings service__ico"></i>

                            <h4>Fulfilment Integrations</h4>

                            <p>Automate logistics with our fulfillment partners</p>

                            <ul>
                                {{ $q1 := where .Site.Pages "Type" "source-fulfillment" }}
                                {{ $q2 := where .Site.Pages "Params.source" .Params.source }}
                                {{ range $q1 | intersect $q2 }}
                                <li>
                                    <a href="{{ .Permalink }}" class="link" title="{{.Params.seoTitle}}">{{ .Title }} <i class="ico-arrow-right"></i></a>
                                </li>
                                {{ end }}
                            </ul>
                        </div><!-- /.service -->
                    </div><!-- /.col-md- offset-md- -->

                    <div class="col-md-6">
                        <div class="service">
                            <i class="ico-market service__ico"></i>

                            <h4>Marketplaces for {{ .Params.Title }}:</h4>

                            <p>Link your system to online marketplaces</p>

                            <ul>
                                {{ $q1 := where .Site.Pages "Type" "source-marketplace" }}
                                {{ $q2 := where .Site.Pages "Params.source" .Params.source }}
                                {{ range $q1 | intersect $q2 }}
                                <li>
                                    <a href="{{ .Permalink }}" class="link" title="{{.Params.seoTitle}}">{{ .Title }} <i class="ico-arrow-right"></i></a>
                                </li>
                                {{ end }}
                            </ul>
                        </div><!-- /.service -->
                    </div><!-- /.col-md- offset-md- -->
                </div><!-- /.row -->
            </div><!-- /.services -->   
        </div><!-- /.container -->
    </section><!-- /.section -->

    {{- partial "support-information.html" . -}}
    
    {{- partial "contact.html" . -}}

    {{- partial "footer.html" . -}}
</div><!-- /.wrapper --> 

{{ end }}