{{ define "main" }}
<div class="wrapper">
	{{- partial "header.html" . -}}

	<div class="hero hero--primary">
		<div class="container">
			<article class="article article--teritary">
				<div class="pb-5">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<div class="article__content">
								<h1>{{ title .Title }}</h1>

								<p>{{ .Params.Lead }}</p>

								<!--							<div class="article__actions">-->
								<!--								<a href="#" class="btn btn&#45;&#45;big btn&#45;&#45;hover-alt cta-popup" data-target="#popup-form">Schedule A Demo</a>-->
								<!--							</div>&lt;!&ndash; /.article__actions &ndash;&gt;-->
							</div><!-- /.article__content -->
						</div><!-- /.col-md- offset-md- -->

						<div class="col-lg-6 hidden-tablet">
							<div class="article__image">
								<img src="/images/a2.png" title="Put your ERP system in control of your online business" alt="Put your ERP system in control of your online business">
							</div><!-- /.article__content -->
						</div><!-- /.col-md- offset-md- -->
					</div><!-- /.row -->
				</div>
				<div class="pt-5">
					<div class="row">
						<div class="col-lg-12">
							{{- partial "connectors.html" . -}}
						</div>
					</div>
				</div>

			</article><!-- /.article -->
		</div><!-- /.container -->
	</div><!-- /.hero -->



	{{- partial "footer.html" . -}}

</div><!-- /.wrapper -->

{{ end }}


