{{ define "main" }}
<div class="wrapper">
    {{- partial "header.html" . -}}

    <div class="hero hero--size5">
        <div class="container">
            <article class="article">
                <div class="row">
                    <div class="col-md-6 offset-3">
                        <div class="article__content article__content--primary">
                            <h1>{{ title .Title }}</h1>
                            <p>
                                {{ .Params.Lead }}
                            </p>
                        </div><!-- /.article__content -->
                    </div><!-- /.col-md- offset-md- -->
                </div><!-- /.row -->
            </article><!-- /.article -->
        </div><!-- /.container -->
    </div><!-- /.hero -->

    <section class="section section--secondary pb-5">
        <div class="container">

            <div class="section__image-alt">
                <img src="{{ .Params.image }}" alt="{{ .Params.imageAlt }}">
            </div><!-- /.section__image -->

                <div class="section__content">
                    <div class="row">
                        <div class="col-md-8 offset-2">
                            {{ .Content }}
                        </div>
                    </div>

                </div><!-- /.section__content -->


        </div><!-- /.container -->
    </section><!-- /.section -->

    {{- partial "cta-lets-talk.html" . -}}

    {{- partial "footer.html" . -}}
</div><!-- /.wrapper -->
{{ end }}